body {
    font-family: 'Arial', sans-serif;
    background-color: #ffe8f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease;
}

h1 {
    color: #ff66b2;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ff66b2;
    border-radius: 5px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #ff66b2;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff4d8a;
}

#api-data {
    margin-top: 20px;
    text-align: left;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
    font-size: 14px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* api list */
#api-data ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

#api-data ul li {
    margin-bottom: 8px;
    font-size: 16px;
}


/* プレイヤーリストのスタイリング */
#api-data ul ul {
    margin-top: 5px;
    margin-left: 20px;
    font-size: 14px;
    color: #666666;
}

/* ボーダーと背景色 */
#api-data ul {
    /* border: 2px solid #ff66b2; */
    border-radius: 10px;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}